.appointment-text {
  line-height: 35px;
}

.availability-close-btn {
  right: -15px;
  top: 33px;
  font-size: 1.5rem;
  cursor: pointer;
}

.expertise-close-btn {
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.appointment-card {
  border-color: #d6e9f9;
  font-size: 0.9rem;
}

.bg-lightblue {
  background-color: #e2f0fb;
}

.notification-count {
  position: absolute;
  right: 12px;
  width: 15px;
  font-size: 10px;
  border-radius: 100%;
  background: red;
  color: white;
}

.notification-message {
  line-height: 22px;
  font-weight: 100;
}

.notification-picture {
  max-width: 45px;
  max-height: 40px;
  border-radius: 100%;
  line-height: 60px;
  margin-top: 3px;
}
